In [1]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#File Paths
filepath= '/home/arik/ML_Projects/Zindi/User Behaviour Birthday Challenge/data/'
output_path = '/home/arik/ML_Projects/Zindi/User Behaviour Birthday Challenge/output/'

In [2]:
df_final = pd.read_csv(filepath + "df_final.csv")

In [3]:
# Fill in the nulls...
df_final['comment_counter'].fillna(0,inplace = True)
df_final['CommentDate Month'].fillna(0,inplace = True)
df_final['CommentDate Year'].fillna(0,inplace = True)
df_final['discussion_counter'].fillna(0,inplace = True)
df_final['DiscDate Month'].fillna(0,inplace = True)
df_final['DiscDate Year'].fillna(0,inplace = True)
df_final['FeatureF'].fillna(0,inplace = True)
df_final['submission_counter'].fillna(0,inplace = True)
df_final['SubDate Month'].fillna(0,inplace = True)
df_final['SubDate Year'].fillna(0,inplace = True)
df_final['FeatureG'].fillna(0,inplace = True)
df_final['FeatureE_2'].fillna(0,inplace = True)
df_final['FeatureE_1'].fillna(0,inplace = True)
df_final['FeatureB_3'].fillna(0,inplace = True)
df_final['FeatureB_2'].fillna(0,inplace = True)
df_final['FeatureB_1'].fillna(0,inplace = True)
df_final['FeatureA_3'].fillna(0,inplace = True)
df_final['FeatureA_2'].fillna(0,inplace = True)
df_final['FeatureA_1'].fillna(0,inplace = True)
df_final['comp_duration'].fillna(0,inplace = True)
df_final['CompStartTime Month'].fillna(0,inplace = True)
df_final['CompStartTime Year'].fillna(0,inplace = True)
df_final['CompEndTime Month'].fillna(0,inplace = True)
df_final['CompEndTime Year'].fillna(0,inplace = True)
df_final['SubmissionLimitPerDay'].fillna(0,inplace = True)
df_final['SecretCode'].fillna(0,inplace = True)
df_final['FeatureD'].fillna(0,inplace = True)
df_final['Points Reward'].fillna(0,inplace = True)
df_final['Kind'].fillna(0,inplace = True)
df_final['FeatureC'].fillna(0,inplace = True)
df_final['Country_y'].fillna('other_country_y',inplace = True)
df_final['CompID'].fillna('no_comp?',inplace = True)
df_final['Successful Submission Count_no_submission'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 9'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 8'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 7'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 6'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 5'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 4'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 3'].fillna(0,inplace = True)
df_final['Successful Submission Count_count 10'].fillna(0,inplace = True)
df_final['PublicRank_rank 9'].fillna(0,inplace = True)
df_final['PublicRank_rank 8'].fillna(0,inplace = True)
df_final['PublicRank_rank 8'].fillna(0,inplace = True)
df_final['PublicRank_rank 7'].fillna(0,inplace = True)
df_final['PublicRank_rank 6'].fillna(0,inplace = True)
df_final['PublicRank_rank 5'].fillna(0,inplace = True)
df_final['PublicRank_rank 4'].fillna(0,inplace = True)
df_final['PublicRank_rank 3'].fillna(0,inplace = True)
df_final['PublicRank_rank 2'].fillna(0,inplace = True)
df_final['PublicRank_rank 11'].fillna(0,inplace = True)
df_final['PublicRank_rank 10'].fillna(0,inplace = True)
df_final['PublicRank_rank 1'].fillna(0,inplace = True)
df_final['PublicRank_no_rank'].fillna(0,inplace = True)
df_final['isSubmitted'].fillna(2,inplace = True)
df_final['CompPartCreated Month'].fillna(0,inplace = True)
df_final['CompPartCreated Year'].fillna(0,inplace = True)

In [4]:
df_final['CompEndTime Year'].unique()

array([5., 2., 1., 3., 4., 0.])

In [5]:
for column in df_final.columns[(df_final.columns.str.contains('Month')) | (df_final.columns.str.contains('Year'))]:
    df_final[column] = df_final[column].astype(int)

In [6]:
# users df data memory optimization
for column in df_final.select_dtypes(include=['int']).columns:
    if df_final[column].max() <= np.iinfo(np.int8).max and df_final[column].min() >= np.iinfo(np.int8).min:
        df_final[column] = df_final[column].astype('int8')
    elif df_final[column].max() <= np.iinfo(np.int16).max and df_final[column].min() >= np.iinfo(np.int16).min:
        df_final[column] = df_final[column].astype('int16')
    elif df_final[column].max() <= np.iinfo(np.int32).max and df_final[column].min() >= np.iinfo(np.int32).min:
        df_final[column] = df_final[column].astype('int32')

for column in df_final.select_dtypes(include=['float']).columns:
    if df_final[column].max() <= np.finfo(np.float16).max and df_final[column].min() >= np.finfo(np.float16).min:
        df_final[column] = df_final[column].astype('float16')
    elif df_final[column].max() <= np.finfo(np.float32).max and df_final[column].min() >= np.finfo(np.float32).min:
        df_final[column] = df_final[column].astype('float32')

In [7]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505728 entries, 0 to 505727
Data columns (total 64 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   UserID                                     505728 non-null  object
 1   FeatureX                                   505728 non-null  int8
 2   Country_x                                  505728 non-null  object
 3   FeatureY                                   505728 non-null  int8
 4   Points                                     505728 non-null  object
 5   UserDate Year                              505728 non-null  int8
 6   UserDate Month                             505728 non-null  int8
 7   UserDate Day_of_week                       505728 non-null  int8
 8   CompPartCreated Year                       505728 non-null  int8
 9   CompPartCreated Month                      505728 non-null  int8
 10  isSubmitted                                505728 non-null  float16
 11  PublicRank_no_rank                         505728 non-null  float16
 12  PublicRank_rank 1                          505728 non-null  float16
 13  PublicRank_rank 10                         505728 non-null  float16
 14  PublicRank_rank 11                         505728 non-null  float16
 15  PublicRank_rank 2                          505728 non-null  float16
 16  PublicRank_rank 3                          505728 non-null  float16
 17  PublicRank_rank 4                          505728 non-null  float16
 18  PublicRank_rank 5                          505728 non-null  float16
 19  PublicRank_rank 6                          505728 non-null  float16
 20  PublicRank_rank 7                          505728 non-null  float16
 21  PublicRank_rank 8                          505728 non-null  float16
 22  PublicRank_rank 9                          505728 non-null  float16
 23  Successful Submission Count_count 10       505728 non-null  float16
 24  Successful Submission Count_count 3        505728 non-null  float16
 25  Successful Submission Count_count 4        505728 non-null  float16
 26  Successful Submission Count_count 5        505728 non-null  float16
 27  Successful Submission Count_count 6        505728 non-null  float16
 28  Successful Submission Count_count 7        505728 non-null  float16
 29  Successful Submission Count_count 8        505728 non-null  float16
 30  Successful Submission Count_count 9        505728 non-null  float16
 31  Successful Submission Count_no_submission  505728 non-null  float16
 32  CompID                                     505728 non-null  object
 33  Country_y                                  505728 non-null  object
 34  FeatureC                                   505728 non-null  float16
 35  Kind                                       505728 non-null  float16
 36  Points Reward                              505728 non-null  float16
 37  FeatureD                                   505728 non-null  float16
 38  SecretCode                                 505728 non-null  float16
 39  SubmissionLimitPerDay                      505728 non-null  float16
 40  CompEndTime Year                           505728 non-null  int8
 41  CompEndTime Month                          505728 non-null  int8
 42  CompStartTime Year                         505728 non-null  int8
 43  CompStartTime Month                        505728 non-null  int8
 44  comp_duration                              505728 non-null  float16
 45  FeatureA_1                                 505728 non-null  float16
 46  FeatureA_2                                 505728 non-null  float16
 47  FeatureA_3                                 505728 non-null  float16
 48  FeatureB_1                                 505728 non-null  float16
 49  FeatureB_2                                 505728 non-null  float16
 50  FeatureB_3                                 505728 non-null  float16
 51  FeatureE_1                                 505728 non-null  float16
 52  FeatureE_2                                 505728 non-null  float16
 53  FeatureG                                   505728 non-null  float16
 54  SubDate Year                               505728 non-null  int8
 55  SubDate Month                              505728 non-null  int8
 56  submission_counter                         505728 non-null  float16
 57  FeatureF                                   505728 non-null  float16
 58  DiscDate Year                              505728 non-null  int8
 59  DiscDate Month                             505728 non-null  int8
 60  discussion_counter                         505728 non-null  float16
 61  CommentDate Year                           505728 non-null  int8
 62  CommentDate Month                          505728 non-null  int8
 63  comment_counter                            505728 non-null  float16
dtypes: float16(42), int8(17), object(5)
memory usage: 68.0+ MB

# Time to check the timestamp for each record

In [8]:
# Generate each column for dataframe that will be created.

##TIMESTAMP
years = [1,2,3]
months = [1,2,3,4,5,6,7,8,9,10,11,12]

## USERS
UserID = []
# Usersdan geliyor her zaman hangi value ise onu alsın, user bazında forecasting yapılırken atılmalı.
FeatureX = []
# country_x usersdan geliyor, user bazında forecasting yapılırken atılmalı.
Country_x = []
# Usersdan geliyor her zaman hangi value ise onu alsın, user bazında forecasting yapılırken atılmalı.
FeatureY = []
# Usersdan geliyor her zaman hangi value ise onu alsın, user bazında forecasting yapılırken değişkenlik gösterebilir atma.
Points = []

##COMPETITION PARTICIPATION
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_no_rank = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_1 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_10 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_11 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_2 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_3 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_4 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_5 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_6 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_7 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_8 = []
# User Rank verisi, zamanlar değişebilir o yüzden tutulmalı.
PublicRank_rank_9 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_10 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_3 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_4 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_5 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_6 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_7 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_8 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_count_9 = []
# User Submission verisi, zamanlar değişebilir o yüzden tutulmalı.
Successful_Submission_Count_no_submission = []

## COMPETITIONS
# FeatureC yarışmalar verisinden geliyor, şimdilik dursun.
FeatureC = []
# Kind yarışma verisinden geliyor, şimdilik dursun.
kind = []
# Points Reward yarışma verisinden geliyor, şimdilik dursun.
Points_Reward = []
# FeatureD yarışma verisinden geliyor, şimdilik dursun.
FeatureD = []
# SecretCode yarışma verisinden geliyor, şimdilik dursun.
SecretCode = []
# SubmissionLimitPerDay yarışma verisinden geliyor, şimdilik dursun.
SubmissionLimitPerDay = [] 
# comp_duration yarışma verisinden geliyor, şimdilik dursun.
comp_duration = []
# Kind yarışma verisinden geliyor, şimdilik dursun.
FeatureA_1 = []
# FeatureA_2 yarışma verisinden geliyor, şimdilik dursun.
FeatureA_2 = []
# FeatureA_3 yarışma verisinden geliyor, şimdilik dursun.
FeatureA_3 = []
# FeatureB_1 yarışma verisinden geliyor, şimdilik dursun.
FeatureB_1 = []
# FeatureB_2 yarışma verisinden geliyor, şimdilik dursun.
FeatureB_2 = []
# FeatureB_3 yarışma verisinden geliyor, şimdilik dursun.
FeatureB_3 = []
# FeatureE_1 yarışma verisinden geliyor, şimdilik dursun.
FeatureE_1 = []
# FeatureE_2 yarışma verisinden geliyor, şimdilik dursun.
FeatureE_2 = []

## SUBMISSION
# FeatureG submission verisinden geliyor, şimdilik dursun.
FeatureG = []
# submission_counter submission verisinden geliyor, şimdilik dursun.
submission_counter = []

## DISCUSSION
# FeatureF discussion verisinden geliyor, şimdilik dursun.
FeatureF = []
# discussion_counter discussion verisinden geliyor, şimdilik dursun.
discussion_counter = []

##COMMENT LISTESI 
# comment_counter submission verisinden geliyor, şimdilik dursun.
comment_counter = []

## Train listesindeki sütunlar.
CompPart = []
Comment = []
Sub = []
Disc = []
Target = []

#DF sütunları burada verilmiştir.
subdf_columns = ['year', 'month', 'userid', 'FeatureX', 'Country_x', 'FeatureY',
                'Points', 'PublicRank_no_rank', 'PublicRank_rank_1' , 'PublicRank_rank_10',
                'PublicRank_rank_11', 'PublicRank_rank_2', 'PublicRank_rank_3', 'PublicRank_rank_4',
                'PublicRank_rank_5', 'PublicRank_rank_6', 'PublicRank_rank_7', 'PublicRank_rank_8',
                'PublicRank_rank_9', 'Successful_Submission_Count_count_10', 'Successful_Submission_Count_count_3',
                'Successful_Submission_Count_count_4', 'Successful_Submission_Count_count_5', 'Successful_Submission_Count_count_6',
                'Successful_Submission_Count_count_7', 'Successful_Submission_Count_count_8', 'Successful_Submission_Count_count_9',
                'Successful_Submission_Count_no_submission', 'FeatureC', 'kind', 'Points_Reward', 'FeatureD', 'SecretCode', 'SubmissionLimitPerDay',
                'comp_duration', 'FeatureA_1', 'FeatureA_2', 'FeatureA_3', 'FeatureB_1', 'FeatureB_2', 'FeatureB_3', 'FeatureE_1', 'FeatureE_2',
                'FeatureG', 'submission_counter', 'FeatureF', 'discussion_counter', 'comment_counter', 'CompPart', 'Comment', 'Sub', 'Disc', 'Target']

In [9]:
df_final.columns[(df_final.columns.str.contains('Month')) | (df_final.columns.str.contains('Year'))]

Index(['UserDate Year', 'UserDate Month', 'CompPartCreated Year',
       'CompPartCreated Month', 'CompEndTime Year', 'CompEndTime Month',
       'CompStartTime Year', 'CompStartTime Month', 'SubDate Year',
       'SubDate Month', 'DiscDate Year', 'DiscDate Month', 'CommentDate Year',
       'CommentDate Month'],
      dtype='object')

In [10]:
df_final.columns

Index(['UserID', 'FeatureX', 'Country_x', 'FeatureY', 'Points',
       'UserDate Year', 'UserDate Month', 'UserDate Day_of_week',
       'CompPartCreated Year', 'CompPartCreated Month', 'isSubmitted',
       'PublicRank_no_rank', 'PublicRank_rank 1', 'PublicRank_rank 10',
       'PublicRank_rank 11', 'PublicRank_rank 2', 'PublicRank_rank 3',
       'PublicRank_rank 4', 'PublicRank_rank 5', 'PublicRank_rank 6',
       'PublicRank_rank 7', 'PublicRank_rank 8', 'PublicRank_rank 9',
       'Successful Submission Count_count 10',
       'Successful Submission Count_count 3',
       'Successful Submission Count_count 4',
       'Successful Submission Count_count 5',
       'Successful Submission Count_count 6',
       'Successful Submission Count_count 7',
       'Successful Submission Count_count 8',
       'Successful Submission Count_count 9',
       'Successful Submission Count_no_submission', 'CompID', 'Country_y',
       'FeatureC', 'Kind', 'Points Reward', 'FeatureD', 'SecretCode',
       'SubmissionLimitPerDay', 'CompEndTime Year', 'CompEndTime Month',
       'CompStartTime Year', 'CompStartTime Month', 'comp_duration',
       'FeatureA_1', 'FeatureA_2', 'FeatureA_3', 'FeatureB_1', 'FeatureB_2',
       'FeatureB_3', 'FeatureE_1', 'FeatureE_2', 'FeatureG', 'SubDate Year',
       'SubDate Month', 'submission_counter', 'FeatureF', 'DiscDate Year',
       'DiscDate Month', 'discussion_counter', 'CommentDate Year',
       'CommentDate Month', 'comment_counter'],
      dtype='object')

In [11]:
df_final.shape[0]

505728

In [12]:
df_final = df_final.drop_duplicates(keep = 'last')

In [14]:
df_final.shape[0]

505682

In [16]:
df_final.UserID.value_counts()

ID_4S9JJCZA    36480
ID_6L3A64FZ    34944
ID_29FH6HS1    33048
ID_KBRFRAR9    23430
ID_JQJGZA7V    22990
               ...
ID_03OW4VH2        1
ID_DI98T108        1
ID_8A9PVKUK        1
ID_9575579J        1
ID_7Z67NH45        1
Name: UserID, Length: 22402, dtype: int64

In [18]:
deneme_df = df_final[df_final['UserID'] == 'ID_4S9JJCZA']

In [28]:
liste = ['UserID']
#liste = ([list(deneme_df.columns[(deneme_df.columns.str.contains('Year')) | (deneme_df.columns.str.contains('Month'))])])
[liste.append(col) for col in deneme_df.columns[(deneme_df.columns.str.contains('Year')) | (deneme_df.columns.str.contains('Month'))]]
liste

['UserID',
 'UserDate Year',
 'UserDate Month',
 'CompPartCreated Year',
 'CompPartCreated Month',
 'CompEndTime Year',
 'CompEndTime Month',
 'CompStartTime Year',
 'CompStartTime Month',
 'SubDate Year',
 'SubDate Month',
 'DiscDate Year',
 'DiscDate Month',
 'CommentDate Year',
 'CommentDate Month']

In [29]:
deneme_df[liste]

,UserID,UserDate Year,UserDate Month,CompPartCreated Year,CompPartCreated Month,CompEndTime Year,CompEndTime Month,CompStartTime Year,CompStartTime Month,SubDate Year,SubDate Month,DiscDate Year,DiscDate Month,CommentDate Year,CommentDate Month
468842,ID_4S9JJCZA,1,5,2,10,2,10,2,10,0,0,3,11,2,11
468843,ID_4S9JJCZA,1,5,2,10,2,10,2,10,0,0,3,11,2,10
468844,ID_4S9JJCZA,1,5,2,10,2,10,2,10,0,0,3,11,3,1
468845,ID_4S9JJCZA,1,5,2,10,2,10,2,10,0,0,3,11,3,2
468846,ID_4S9JJCZA,1,5,2,10,2,10,2,10,0,0,3,11,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505317,ID_4S9JJCZA,1,5,3,7,3,12,3,7,0,0,3,5,1,6
505318,ID_4S9JJCZA,1,5,3,7,3,12,3,7,0,0,3,5,1,9
505319,ID_4S9JJCZA,1,5,3,7,3,12,3,7,0,0,3,5,1,11
505320,ID_4S9JJCZA,1,5,3,7,3,12,3,7,0,0,3,5,2,1
505321,ID_4S9JJCZA,1,5,3,7,3,12,3,7,0,0,3,5,2,5

In [22]:
list_dfs = []
for user in df_final.UserID.unique():
    subdf = df_final[df_final['UserID'] == user]
    subdf = subdf.reset_index(drop = True)
    for year in years:
        for month in months:

            isDisc = 0
            isComment = 0
            isCompPart = 0
            isSub = 0
            isCompetition = 0
            isTarget = 0
            
            for index, row in subdf.iterrows():   
            
                #Fill comment columns
                if(year == row['CommentDate Year'] and month == row['CommentDate Month'] and isComment == 0):
                    comment_counter.append(row['comment_counter'])
                    isComment = 1
                    Comment.append(1)

                # Fill discussion columns
                if(year == row['DiscDate Year'] and month == row['DiscDate Month'] and isDisc == 0):
                    discussion_counter.append(row['discussion_counter'])
                    FeatureF.append(row['FeatureG'])
                    isDisc = 1
                    Disc.append(1)
                    
                # Fill submission columns
                if(year == row['SubDate Year'] and month == row['SubDate Month'] and isSub == 0):
                    FeatureG.append(row['FeatureG'])
                    submission_counter.append(row['submission_counter'])
                    isSub = 1
                    Sub.append(1)

                # Fill Competition Participation columns
                if(year == row['CompPartCreated Year'] and month == row['CompPartCreated Month'] and isCompPart == 0):
                    PublicRank_no_rank.append(row['PublicRank_no_rank'])
                    PublicRank_rank_1.append(row['PublicRank_rank 1'])
                    PublicRank_rank_10.append(row['PublicRank_rank 10'])
                    PublicRank_rank_11.append(row['PublicRank_rank 11'])
                    PublicRank_rank_2.append(row['PublicRank_rank 2'])
                    PublicRank_rank_3.append(row['PublicRank_rank 3'])
                    PublicRank_rank_4.append(row['PublicRank_rank 4'])
                    PublicRank_rank_5.append(row['PublicRank_rank 5'])
                    PublicRank_rank_6.append(row['PublicRank_rank 6'])
                    PublicRank_rank_7.append(row['PublicRank_rank 7'])
                    PublicRank_rank_8.append(row['PublicRank_rank 8'])
                    PublicRank_rank_9.append(row['PublicRank_rank 9'])
                    Successful_Submission_Count_count_10.append(row['Successful Submission Count_count 10'])
                    Successful_Submission_Count_count_3.append(row['Successful Submission Count_count 3'])
                    Successful_Submission_Count_count_4.append(row['Successful Submission Count_count 4'])
                    Successful_Submission_Count_count_5.append(row['Successful Submission Count_count 5'])
                    Successful_Submission_Count_count_6.append(row['Successful Submission Count_count 6'])
                    Successful_Submission_Count_count_7.append(row['Successful Submission Count_count 7'])
                    Successful_Submission_Count_count_8.append(row['Successful Submission Count_count 8'])
                    Successful_Submission_Count_count_9.append(row['Successful Submission Count_count 9'])
                    Successful_Submission_Count_no_submission.append(row['Successful Submission Count_no_submission'])
                    CompPart.append(1)
                    isCompPart = 1
                
                # Fill Competition Columns
                if( (isCompetition == 0) and (year<row['CompEndTime Year'] or (year == row['CompEndTime Year'] and month <= row['CompEndTime Month'])) and 
                    (year> row['CompStartTime Year'] or (year == row['CompStartTime Year'] and month >= row['CompStartTime Month']) ) ):  
                    
                    FeatureC.append(row['FeatureC'])
                    kind.append(row['Kind'])
                    Points_Reward.append(row['Points Reward'])
                    FeatureD.append(row['FeatureD'])
                    SecretCode.append(row['SecretCode'])
                    SubmissionLimitPerDay.append(row['SubmissionLimitPerDay'])
                    comp_duration.append(row['comp_duration'])
                    FeatureA_1.append(row['FeatureA_1'])
                    FeatureA_2.append(row['FeatureA_2'])
                    FeatureA_3.append(row['FeatureA_3'])
                    FeatureB_1.append(row['FeatureB_1'])
                    FeatureB_2.append(row['FeatureB_2'])
                    FeatureB_3.append(row['FeatureB_3'])
                    FeatureE_1.append(row['FeatureE_1'])
                    FeatureE_2.append(row['FeatureE_2'])
                    isCompetition = 1
                   
                # Fill target columns.   
                if (isDisc == 1 or isComment == 1 or isCompPart == 1 or isSub == 1):
                    isTarget = 1
                   
            # Fill User columns
            UserID.append(user)
            FeatureX.append(row['FeatureX'])
            Country_x.append(row['Country_x'])
            FeatureY.append(row['FeatureY'])
            Points.append(row['Points'])

            if(isTarget == 1):
                Target.append(1)
            else:
                Target.append(0)

            if(isComment == 0):
                comment_counter.append(0)
                Comment.append(0)

            if(isDisc == 0):
                discussion_counter.append(0)
                FeatureF.append(0)
                Disc.append(0)

            if(isSub == 0):
                submission_counter.append(0)
                FeatureG.append(0)
                Sub.append(0)

            if(isCompPart == 0):
                PublicRank_no_rank.append(0)
                PublicRank_rank_1.append(0)
                PublicRank_rank_10.append(0)
                PublicRank_rank_11.append(0)
                PublicRank_rank_2.append(0)
                PublicRank_rank_3.append(0)
                PublicRank_rank_4.append(0)
                PublicRank_rank_5.append(0)
                PublicRank_rank_6.append(0)
                PublicRank_rank_7.append(0)
                PublicRank_rank_8.append(0)
                PublicRank_rank_9.append(0)
                Successful_Submission_Count_count_10.append(0)
                Successful_Submission_Count_count_3.append(0)
                Successful_Submission_Count_count_4.append(0)
                Successful_Submission_Count_count_5.append(0)
                Successful_Submission_Count_count_6.append(0)
                Successful_Submission_Count_count_7.append(0)
                Successful_Submission_Count_count_8.append(0)
                Successful_Submission_Count_count_9.append(0)
                Successful_Submission_Count_no_submission.append(0)
                CompPart.append(0)  

            if(isCompetition == 0):
                FeatureC.append(0)
                kind.append(0)
                Points_Reward.append(0)
                FeatureD.append(0)
                SecretCode.append(0)
                SubmissionLimitPerDay.append(0)
                comp_duration.append(0)
                FeatureA_1.append(0)
                FeatureA_2.append(0)
                FeatureA_3.append(0)
                FeatureB_1.append(0)
                FeatureB_2.append(0)
                FeatureB_3.append(0)
                FeatureE_1.append(0)
                FeatureE_2.append(0)

                   
    # We have created the data for the sub dataset for one user. It is time to create the dataframe.
    df_temp = pd.DataFrame(columns = subdf_columns)
    df_temp['userid'] = UserID
    df_temp['FeatureX'] = FeatureX
    df_temp['Country_x'] = Country_x
    df_temp['FeatureY'] = FeatureY
    df_temp['Points'] = Points
    df_temp['Target'] = Target
    df_temp['comment_counter'] = comment_counter
    df_temp['Comment'] = Comment
    df_temp['discussion_counter'] = discussion_counter
    df_temp['FeatureF'] = FeatureF
    df_temp['Disc'] = Disc
    df_temp['FeatureG'] = FeatureG
    df_temp['submission_counter'] = submission_counter
    df_temp['Sub'] = Sub
    df_temp['PublicRank_no_rank'] = PublicRank_no_rank
    df_temp['PublicRank_rank_1'] = PublicRank_rank_1
    df_temp['PublicRank_rank_10'] = PublicRank_rank_10
    df_temp['PublicRank_rank_11'] = PublicRank_rank_11
    df_temp['PublicRank_rank_2'] = PublicRank_rank_2
    df_temp['PublicRank_rank_3'] = PublicRank_rank_3
    df_temp['PublicRank_rank_4'] = PublicRank_rank_4
    df_temp['PublicRank_rank_5'] = PublicRank_rank_5
    df_temp['PublicRank_rank_6'] = PublicRank_rank_6
    df_temp['PublicRank_rank_7'] = PublicRank_rank_7
    df_temp['PublicRank_rank_8'] = PublicRank_rank_8
    df_temp['PublicRank_rank_9'] = PublicRank_rank_9
    df_temp['Successful_Submission_Count_count_10'] = Successful_Submission_Count_count_10
    df_temp['Successful_Submission_Count_count_3'] = Successful_Submission_Count_count_3
    df_temp['Successful_Submission_Count_count_4'] = Successful_Submission_Count_count_4
    df_temp['Successful_Submission_Count_count_5'] = Successful_Submission_Count_count_5
    df_temp['Successful_Submission_Count_count_6'] = Successful_Submission_Count_count_6
    df_temp['Successful_Submission_Count_count_7'] = Successful_Submission_Count_count_7
    df_temp['Successful_Submission_Count_count_8'] = Successful_Submission_Count_count_8
    df_temp['Successful_Submission_Count_count_9'] = Successful_Submission_Count_count_9
    df_temp['Successful_Submission_Count_no_submission'] = Successful_Submission_Count_no_submission
    df_temp['CompPart'] = CompPart
    df_temp['FeatureC'] = FeatureC
    df_temp['kind'] = kind
    df_temp['Points_Reward'] = Points_Reward
    df_temp['FeatureD'] = FeatureD
    df_temp['SecretCode'] = SecretCode
    df_temp['SubmissionLimitPerDay'] = SubmissionLimitPerDay
    df_temp['comp_duration'] = comp_duration
    df_temp['FeatureA_1'] = FeatureA_1
    df_temp['FeatureA_2'] = FeatureA_2
    df_temp['FeatureA_3'] = FeatureA_3
    df_temp['FeatureB_1'] = FeatureB_1
    df_temp['FeatureB_2'] = FeatureB_2
    df_temp['FeatureB_3'] = FeatureB_3
    df_temp['FeatureE_1'] = FeatureE_1
    df_temp['FeatureE_2'] = FeatureE_2
    list_dfs.append(df_temp)

ValueError: Length of values (88) does not match length of index (87)

In [21]:
df_temp

,year,month,userid,FeatureX,Country_x,FeatureY,Points,PublicRank_no_rank,PublicRank_rank_1,PublicRank_rank_10,...,FeatureG,submission_counter,FeatureF,discussion_counter,comment_counter,CompPart,Comment,Sub,Disc,Target
0,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
1,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
2,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
3,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
4,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
5,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
6,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
7,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
8,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
9,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
10,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
11,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
12,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
13,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
14,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
15,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
16,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
17,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
18,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
19,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
20,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
21,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
22,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
23,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
24,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
25,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
26,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
27,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
28,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
29,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
30,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,1
31,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
32,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
33,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
34,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
35,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
36,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
37,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
38,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
39,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
40,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
41,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
42,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
43,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
44,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
45,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
46,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
47,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
48,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
49,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0
50,NaN,NaN,ID_N5LTBAPU,0,ID_DMRM,1,group 3,NaN,NaN,NaN,...,NaN,NaN,0,0,0,NaN,0,NaN,0,0

In [ ]:
if(
    ((isCompetition == 0) and 
    (year<row['CompEndTime Year'] or (year == row['CompEndTime Year'] and month <= row['CompEndTime Month'])) and 
    (year> row['CompStartTime Year'] or (year == row['CompStartTime Year'] and month >= row['CompStartTime Month']) ) ):